alipay-sdk-python==3.3.398
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
idna==2.10
iniconfig==1.1.1
packaging==20.8
pendulum==2.1.2
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycrypto==2.6.1
pycryptodome==3.9.9
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
pytzdata==2020.1
requests==2.25.1
rsa==4.6
six==1.15.0
toml==0.10.2
urllib3==1.26.2
